<h2>
  {{ title }}
</h2>
<hr>
<h3>
  selector de colores
</h3>
<input type="text" [(ngModel)]="color_seleccionado">
<!-- [style.border] = "color_seleccionado == 'red' ? '5px solid black' : '2px solid grey'"
[class.bordeAzul] = "color_seleccionado == 'blue'"
[ngClass] ="{
  fondoAzul: color_seleccionado == 'blue',
  fondoVerde: color_seleccionado == 'green',
  letraGrande: 1 == 1
}"
-->
<pre
[ngClass] = "['fondoAzul', 'letraGrande' ]"
>
  <strong>color elegido</strong>
  {{color_seleccionado}}
</pre>
<div [ngStyle]="{
  'background': color_seleccionado,
  'width': '200px',
  'height': '200px', 
  'float': 'right',
  'margin-right': '69%'}"></div>
<div style="clear: both;"></div>
<hr>
<h3>
    colores switch
  </h3>
  <ul [ngSwitch]="color">
    <li *ngSwitchCase="'red'" [ngStyle]="{
      'background':color, 
      'color': 'white',
      'padding': '20px'
    }">
    es de color rojo
  </li>
  <li *ngSwitchCase="'green'" [ngStyle]="{
    'background':color, 
    'color': 'white',
    'padding': '20px'
  }">
  es de color rojo
</li>
<li *ngSwitchCase="'blue'" [ngStyle]="{
  'background':color, 
  'color': 'white',
  'padding': '20px'
}">
es de color rojo
</li>
  </ul>
<hr>
<p>
  <strong>Empleado estrella</strong>
</p>
<div *ngIf = "trabajador_externo == false">
  <button (click)="cambiarExterno(true)">Mostrar Trabajador</button>
    <ul>
        <li>{{ trabajadores[0].name}}</li>
        <li>{{ trabajadores[0].edad}}</li>
        <li>{{ trabajadores[0].cargo}}</li>
        <li *ngIf = "trabajadores[0].contratado == true">Esta Contratado</li>
        <li *ngIf = "trabajadores[0].contratado == false">No Esta Contratado</li>
      </ul>
</div>

<div *ngIf = "trabajador_externo == true">
    <button (click)="cambiarExterno(false)">Mostrar Empleado</button>
    <ul >
        <li>{{ empleado.name}}</li>
        <li>{{ empleado.edad}}</li>
        <li>{{ empleado.cargo}}</li>
        <li *ngIf = "empleado.contratado == true">Esta Contratado</li>
        <li *ngIf = "empleado.contratado == false">No Esta Contratado</li>
      </ul>
</div>
<hr>
<h3>
  LISTADO DE TRABAJADORES
</h3>
  <ul>
    <li *ngFor="let trabajador of trabajadores; let i = index">
      <strong>Empleado: {{i+1}}</strong>
      <ul>
          <li>{{ trabajador.name}}</li>
          <li>{{ trabajador.edad}}</li>
          <li>{{ trabajador.cargo}}</li>
          <li *ngIf = "trabajador.contratado == true">Esta Contratado</li>
          <li *ngIf = "trabajador.contratado == false">No Esta Contratado</li>
      </ul>
    </li>
  </ul>
<hr>

